outputs/BurnedHead.pdf filter=lfs diff=lfs merge=lfs -text
outputs/BurnedHead-B_Mask.gbr filter=lfs diff=lfs merge=lfs -text
outputs/BurnedHead-B_Paste.gbr filter=lfs diff=lfs merge=lfs -text
outputs/BurnedHead-Edge_Cuts.gbr filter=lfs diff=lfs merge=lfs -text
outputs/BurnedHead-F_Paste.gbr filter=lfs diff=lfs merge=lfs -text
outputs/BurnedHead-F_SilkS.gbr filter=lfs diff=lfs merge=lfs -text
outputs/BurnedHead-In1_Cu.gbr filter=lfs diff=lfs merge=lfs -text
outputs/BurnedHead-In2_Cu.gbr filter=lfs diff=lfs merge=lfs -text
outputs/BurnedHead-B_Cu.gbr filter=lfs diff=lfs merge=lfs -text
outputs/BurnedHead-B_SilkS.gbr filter=lfs diff=lfs merge=lfs -text
outputs/BurnedHead-F_Cu.gbr filter=lfs diff=lfs merge=lfs -text
outputs/BurnedHead-F_Mask.gbr filter=lfs diff=lfs merge=lfs -text
outputs/BurnedHead-NPTH.drl filter=lfs diff=lfs merge=lfs -text
outputs/BurnedHead-PTH.drl filter=lfs diff=lfs merge=lfs -text
renders/BurnedHead-Back.jpg filter=lfs diff=lfs merge=lfs -text
renders/BurnedHead-Front.jpg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.gbr filter=lfs diff=lfs merge=lfs -text
*.drl filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
CubeMX/* filter=lfs diff=lfs merge=lfs -text
*.pro filter=lfs diff=lfs merge=lfs -text
*.sch filter=lfs diff=lfs merge=lfs -text
